<!DOCTYPE html>
<html>

<head>
  <title>Lemmikki-sovellus</title>
  <style>
    .link-container span {
      margin-right: 10px; /* Lisää välin linkkien välille */
    }
  </style>
</head>

<body>
  <h1>PetCare</h1> <!-- Otsikko -->

  {% if session.username %}  <!-- Jos käyttäjä on kirjautunut sisään -->
    <p>Olet kirjautunut käyttäjällä {{ session.username }}</p>
    <p><a href="/logout">Kirjaudu ulos</a></p>
    <p><a href="/new_pet">Lisää lemmikki</a></p>

    <h2>Omat lemmikkisi</h2>
    {% if pets %}
      <ul>
        {% for pet in pets %}
          <li><a href="/pet/{{ pet.id }}">{{ pet.pet_name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Sinulla ei ole vielä lisättyjä lemmikkejä.</p>
    {% endif %}

  {% else %}  <!-- Jos käyttäjä ei ole kirjautunut sisään -->
    <p><b>Tervetuloa!</b></p>
    <p class="link-container">
      <span><a href="/login">Kirjaudu sisään</a></span>
      <span><a href="/register">Luo tunnus</a></span>
    </p>
  {% endif %}

</body>

</html>
