{% extends "base.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block body_class %}login-page{% endblock %}

{% block content %}
  <div class="form-container">
    <h1>Kirjaudu sisään</h1>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/login" method="post">
      <p>
        Tunnus:<br>
        <input type="text" name="username" value="{{ username or '' }}" required>
      </p>
      <p>
        Salasana:<br>
        <input type="password" name="password" required>
      </p>
      <input type="submit" value="Kirjaudu">
    </form>
    <p><a href="/">Takaisin etusivulle</a></p>
  </div>
{% endblock %}
