{% extends "base.html" %}

{% block title %}Lisää lemmikki{% endblock %}

{% block content %}
<div class="new_pet-container">

    <h1>Lisää lemmikki</h1>
    {% if not selected_animal_id %}
  <form action="/new_pet" method="post">
      <p>
          Eläin: <br />
          <select name="animal_id" required>
              <option value="">Valitse eläin</option>
              {% for animal in animal_types %}
                  <option value="{{ animal.id }}">{{ animal.name }}</option>
              {% endfor %}
          </select>
      </p>
      <input type="submit" value="Seuraava">
  </form>
{% endif %}

    {% if breeds %} 
    <form action="/save_pet" method="post">
        <p>
            Rotu: <br />
            <select name="breed_id" required>
                <option value="">Valitse rotu</option>
                {% for breed in breeds %}
                    <option value="{{ breed.id }}">{{ breed.breed_name }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            Lemmikin nimi: <br />
            <input type="text" name="title" maxlength="50" required>
        </p>

        <p>
            Kerro lemmikistä: <br />
            <textarea rows="5" cols="50" name="description" maxlength="400"></textarea>
        </p>

        <input type="hidden" name="animal_id" value="{{ selected_animal_id }}">
        <input type="submit" value="Lisää lemmikki">
    </form>
    {% endif %}

{% endblock %}
