<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>{{ pet.pet_name }}</title>
</head>
<body>
<h1>{{ pet.pet_name }}</h1>
<p>Eläin: {{ pet.animal_name }}<br>
Rotu: {{ pet.breed_name }}<br>
Kuvaus: {{ pet.description }}</p>
<p>Omistaja: <a href="/user/{{ pet.user_id }}">{{ pet.owner_username }}</a></p>

{% if is_owner %}
    <p><a href="/pet/{{ pet.id }}/edit">Muokkaa lemmikkiä</a></p>
{% endif %}

<h2>Päiväkohtaiset tiedot</h2>
<ul>
  {% if "ruokailu" in allowed_actions %}
    <li>🥕: {{ daily_counts["ruokailu"]["cnt"] if "ruokailu" in daily_counts else 0 }} x
        (Viimeisin: {{ daily_counts["ruokailu"]["latest"] if "ruokailu" in daily_counts else "–" }})</li>
  {% endif %}

  {% if "ulkoilu" in allowed_actions %}
    <li>🌳: {{ daily_counts["ulkoilu"]["cnt"] if "ulkoilu" in daily_counts else 0 }} x
        (Viimeisin: {{ daily_counts["ulkoilu"]["latest"] if "ulkoilu" in daily_counts else "–" }})</li>
  {% endif %}

  {% if "kakat" in allowed_actions %}
    <li>💩: {{ daily_counts["kakat"]["cnt"] if "kakat" in daily_counts else 0 }} x</li>
  {% endif %}

  {% if "koulutus" in allowed_actions %}
    <li>🧠: {{ daily_counts["koulutus"]["cnt"] if "koulutus" in daily_counts else 0 }} x</li>
  {% endif %}
</ul>

{% if is_owner %}
<form action="/pet/{{ pet.id }}/action" method="post">
  {% for action in allowed_actions %}
    <button name="action_name" value="{{ action }}">Lisää {{ action }}</button>
  {% endfor %}
</form>
{% endif %}

<p><a href="/">Etusivulle</a></p>

{% if is_owner %}
<p><a href="/confirm_delete_pet/{{ pet.id }}">Poista lemmikki<a/></p>
{% endif %}

</body>
</html>
